<div class="max-w-4xl mx-auto">
  <div class="bg-white rounded-lg shadow-md p-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6">Log in</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div>
          <%= f.label :email, "E-mail", class: "block text-sm font-medium text-gray-700 py-2" %>
          <%= f.input_field :email,
                      required: false,
                      autofocus: true,
                      autocomplete: "email",
                      class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
        </div>
        <div>
          <%= f.label :password, "Senha", class: "block text-sm font-medium text-gray-700 py-2" %>
          <%= f.input_field :password,
                      required: false,
                      autocomplete: "current-password",
                      class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
        </div>
        <div class="mt-4 flex items-center space-x-2">
          <%= f.check_box :remember_me, label: "Lembre de mim", class: "ms-4" if devise_mapping.rememberable? %>
          <%= f.label :remember_me, "Manter Conectado", class: "text-sm text-gray-700" if devise_mapping.rememberable? %>
        </div>

      <div class="form-actions flex justify-end space-x-4">
        <%= f.button :submit, "Log in", class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
